@CHARSET "UTF-8";
html{
    height:100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	-webkit-font-smoothing:antialiased;
}
body{
	margin:0;
	padding:0;
	background-color:#fff;
	min-height:100%;
	height:auto !important;
	height:100%;
	/*text-align:center;这一行需要注释掉，因为这样所有的字体都默认居中*/
	color:#404040;
	font:12px/1.5 Helvetica,arial;
}
h1,h2,h3,h4,h5,h6,p,figure,form,span{
    margin:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
img{
	border:0;
    vertical-align:middle;
    -ms-interpolation-mode: bicubic;
}
a{
	text-decoration:none;
	color:#29B4F0;
}
a:focus {
    outline: thin dotted;
}
a:hover{
    color:#017CB9;
	text-decoration:underline;
}
input,select,textarea{outline:none;border:none;background:none;}
/* hn */
h1{
	font-size:16px;
	line-height:36px;
}
h2{
	font-size:14px;
	line-height:30px;
}
h3{
	
}
h3,h4,h5,h6{
	font-size:12px;
}
/* ul ol dl */
ul,li,ol{
    margin: 0;
	padding:0;
	list-style: none outside none;
}
ul.has-style li,ol li{
	margin-left:25px;
}
ul.has-style li{
    list-style:disc;
}
ol li{
	list-style:decimal;
}
ul.inline-style li{
	float:left;
	display:inline;
}
dl{
    margin-bottom:0;
}
dt{
    font-weight: bold;
}
dd{
    margin:0;
	padding:0;
}
svg:not(:root) {
    overflow: hidden;
}
/* clearfix */
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{
	clear:both;
	overflow:hidden;
}
.clearfix{
    zoom:1;
}
.fl{float:left;}
.fr{float:rigth;}




























